.flex-continer{
    display: flex;
    flex-direction: row;
    background-color: rgb(205, 237, 252);
    justify-content: center;
    align-items: center;
    height: 70px;
}
.flex-continer1{
    display: flex;
    flex-direction: row;
    background-color: rgb(205, 237, 252);
    justify-content: left;
    align-items: left;
    height: 10px;
}
.emp-deatils{
position: relative;
margin: 20px;
padding-left: 50px;
}
.float-left{
    display: flex;
    justify-content: left;
    color:  rgb(205, 237, 252);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(248, 248, 248, 0.2);
    padding: 0px;
    background-color: #ffffffee;
    line-height: 20px;
  }
