<div class="flex-continer1">
    <h1><a routerLink=""><label class=" float-left glyphicon glyphicon-menu-left"></label></a></h1> 
</div>

<div class="flex-continer">
  <h1>Employee List</h1>
</div>


<!-- <div *ngFor="let emp of employeeData" (click)="onSelect(emp)">
  {{emp.firstName}} {{emp.lastName}}
</div> -->

<table class="table-config">
  <h2 style="padding: 10px;">List of all employees</h2>
  <!-- <span class="glyphicon glyphicon-search"></span> -->
  <label style="float: right; padding-right: 20px"> Filter: <input [(ngModel)]="query" placeholder="&#xF002; Search by name or id" style="font-family:Arial, FontAwesome"></label>
  <tr *ngFor="let emp of employeeData | search:'emp_id,firstName':query" (click)="onSelect(emp)">
    <td class="table-data"> {{emp.firstName}} {{emp.lastName}} <span style="float: right;" class="glyphicon glyphicon-menu-right"></span></td>
  </tr>
</table>
<router-outlet></router-outlet>