<div class="flex-continer">
  <h1>
    Employee Directory
  </h1>
</div>



<div id="menu-nav">
  <div id=navigation-bar>
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-handshake-o"></i>&nbsp;&nbsp;
          <span>Services</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-user"></i>&nbsp;&nbsp;
          <span>About</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-book"></i>&nbsp;&nbsp;
          <span>Contact</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-rss"></i>&nbsp;&nbsp;
          <span>Blog</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- <div class="container-fluid">
  <div class="img-config">
    <input type="button" class="btn" value="Display Not Found" (click)='pageNotFoundCall()'> &nbsp;
    <input type="button" class="btn" value="Show Employee List" (click)='emplyeeListComponentCall()'>
    <input type="button" class="btn" value="Dynamic Form" (click)='dynamicFormCompnonentCall()'>
    <input type="button" class="btn" value="Reactive Form" (click)='reactiveFormCompnonentCall()'>
    <input type="button" class="btn" value="Form Builder" (click)='formBuilderCompnonentCall()'>
    <input type="button" class="btn" value="User Form" (click)='userFormCompnonentCall()'>
  
    <img src="assets/up.jpg" width="500px" alt="up">
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <input type="button" class="btn" value="Display Not Found" (click)='pageNotFoundCall()'> &nbsp;<br>
      <br>
      <input type="button" class="btn" value="Show Employee List" (click)='emplyeeListComponentCall()'>
    </div>
    <div class="col-sm-4">
      <input type="button" class="btn" value="Dynamic Form" (click)='dynamicFormCompnonentCall()'><br><br>
      <input type="button" class="btn" value="Reactive Form" (click)='reactiveFormCompnonentCall()'>
    </div>
    <div class="col-sm-4">
      <input type="button" class="btn" value="Form Builder" (click)='formBuilderCompnonentCall()'><br><br>
      <input type="button" class="btn" value="User Form" (click)='userFormCompnonentCall()'>
      <img src="assets/up.jpg" width="500px" alt="up">
    </div>
  </div>
</div>


<!-- <div class="img-config">
    <input type="button" class="btn" value="Form Builder" (click)='formBuilderCompnonentCall()'>
</div> -->


